.c {
    width: 70%;
    margin: auto;
  }

.bg_img {
    background-image: url(../../img/lunbo1.jpg);
    background-position: center center;
    height: 300px;
}
.section_inner {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    /* background-color: pink; */
    /* height: 1500px; */
}

.sp_lf{
    float: left;
    /* left: 5%;
    top: 30px; */
    width: 20%;
    /* height: 300px; */
    background-color: rgb(63, 91, 152);
    /* position: absolute; */
}
.sp_lf h1 {
    padding-left: 45px;
    color: white;
    font-size: 24px;
    height: 74px;
    line-height: 74px;
}

.sp_lf li{
    padding-left: 9px;
}

.sp_lf li a {
    background-color: rgb(247, 247, 247);
    display: inline-block;
    width: 100%;
    height: 60px;
    font-weight: 450;
    line-height: 60px;
    font-size: 18px;
    color: rgb(70, 70, 70);
    padding-left: 42px;
    /* border-right: 1px solid #ebe8db; */
    /* border-bottom: 1px solid whitesmoke; */
    border-bottom: rgb(151, 154, 202) 1px solid;
}
.sp_lf li:hover a{
    background-color: rgb(255, 255, 255);
    color: rgb(63, 91, 152);
}

/* .sp_lf ul:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 18px;
    background-color: #ebe8db;
} */

.sp_rig{
    float: right;
    /* right: 5%;
    top: 30px; */
    width: 75%;
    /* height: 1000px; */
    /* background-color: green; */
    padding: 0 10px;
    /* position: absolute; */
}

.clear_float {
    clear: both;
}


/* .title_left, .title_right {
    float: left;
} */

.title_left {
    float: left;
}

.title_right { 
    float: right;
}

/* sp_rig */

.sp_title {
    height: 74px;
    background-color: white;
    border-bottom: 1px solid #e3e3e3;
}

.sp_title h1{
    color: rgb(55, 55, 55);
    font-size: 26px;
    height: 74px;
    line-height: 74px;
    border-bottom: 5px  rgb(63, 91, 152) solid;
}

.title_right {
    height: 74px;
    line-height: 74px;
    font-size: 12px;
}

.title_right a{
    color: rgb(70, 70, 70);
}
.title_right a:hover{
    color: rgb(63, 91, 152)
}

.sp_list {
    /* background-color: orange; */
    margin-top: 30px;
}
.sp_list li {
    position: relative;
    /* transform: all .5s; */
    height: 39px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 26px;
}

.sp_list li:before, .sp_list li:after
{
	position: absolute;
    content: '';
    z-index: 2;
    width: 7px;
    height: 7px;
    top: 50%;
}
.sp_list li:before {
	left: 5px;
    margin-top: -3.5px;
    background-color:  rgb(63, 91, 152) ;
}


.sp_list li a {
    float: left;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* width: 50%; */
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 450;
    color: #444444;
    width: 88%;
    line-height: 39px;
}

.sp_list li a:hover{
    color: rgb(63, 91, 152) ;
}

.sp_list_time {
    height: 39px;
    line-height: 39px;
    font-size: 12px;
    float: right;
    color: rgb(180, 180, 180);
}
